@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import "responsive.scss";
$dark : #191919;
$primary: #C70A30;
$white: #FFFFFF;

@mixin margins {
margin:50px;
}

@mixin grid-card {
  display: grid;
  justify-content: space-between;
  justify-items: center;
  grid-template-columns: repeat(3, 32%);
  grid-template-rows: repeat(auto, 350px);
}

.grid-container {
  @include grid-card;
}
body {
  @include margins;
}
* {
  margin:0;
  padding:0;
  box-sizing: border-box;
}

html {
  height: 100%;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}

body {
  position: relative;
  min-height: 100%;
  background-color:$dark;
  padding-bottom: 5em;
  -moz-box-sizing: border-box; 
  box-sizing: border-box;
}

p {
  color: $white;
}

small {
  color: $white;
}
//links animation
a, a:visited {
	text-decoration: none;
	position: relative;
	
	&:after {
		content: '';
		height: 3px;
		position: absolute;
		bottom: 0;
		left: 0;
		width: 0%;
		background: $primary;
		transition: 0.2s;
	}

	&:hover:after {
		width: 100%;
	}
	
	&.block {
		display: block;
		padding: 0.5em;
		
		&:hover {
			background: #eee;
		}
  }
}
.title  {
  font-weight: 600;
  text-decoration: none;
  font-size: 4vw;
  color:$primary;
}

header {
  display:flex;
  margin-bottom: 40px;
  flex-direction: row;
  justify-content: space-between;
  justify-items: center;
  align-items: center;
}
//searchbar
.searchbar {
  display:flex;
  padding: 8px 12px;
  margin-top:14px;
  border: 2px solid $white;
  border-radius: 30px;
  
  &:focus {
    outline: none;
  }
}

.fa-search {
  color:$white;
}

.formInput {
  background-color: $dark;
  border: none;
  color: $white;
  margin-left:6px;

  &:focus {
    border: none;
    outline: none;
    box-shadow: none;
    background-color: $dark;
  }
}

//welcome
.saywelcome {
  @extend .title;
  color:$white;
  margin-bottom: 0.5em;
}

.description {
  text-align: left;
}

// select

.selectpointer {
  cursor: pointer;
}

select {
  // Additional resets for further consistency
  background-color: $primary;
  color:$white;
  border: none;
  border-right: 5px solid $primary;
  outline: none;
  width: 11em;
  padding: 9px 15px;
  margin-top: 40px;
  margin-bottom: 20px;
  font-family: inherit;
  font-size: inherit;
  cursor: inherit;
  line-height: inherit;
}

$btn-bkg: $primary;
//loadMoreBtn
.load-div {
  text-align: center;
  justify-content:center;
  display:flex;
  margin-bottom: 10px;
}
.loadBtn {
  margin:2em;
  cursor:pointer;
  padding:10px 8px 10px 8px;
  background-color: $btn-bkg;
  color: $white;
  font-size: 1.4em;
  border: none;
  display: inline-block;

  &:hover {
    background-color: darken($btn-bkg, 10%);
  }
}
//grid
.detail-card {
  height: 15vw;
  width: 100%;
  overflow: hidden;
}

.img-card {
  @extend .detail-card;
  object-fit: cover;
}

.cardGame a {
  text-decoration: none;
  color: $white;
  font-size: 24px;
  font-weight: bold;
}

.hidden {
  display: none;
}

//footer
.redsquare {
  margin-top:5px;
  margin-bottom: 30px;
  background-color: $primary;
  height: 10px;
  width:20%;
}
footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  flex-direction: column;
  justify-items: center;
  margin-top:20px;
  color:$white;
  padding-bottom: 2em;
}

//icons
.platform-icon {
  height: 2em;
  margin-top: 1em;
  margin-right: 1em;
  margin-bottom: 1em;
} 

                                //*************** PageDetail **************
//jumbo
.jumbo {
  display:flex;
  justify-content: flex-end;
  align-items: flex-end;
  height: 45vw;
  width: 100%;
  // background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.button {
  @extend .loadBtn;
  display: flex;
  flex-direction: row;
  align-items: center;
  width:10em;
  text-decoration: none;
  justify-content: space-between;
}

.title-rating {
  display: flex;
  justify-content: space-between;
  align-items: baseline
}
.title-detail {
  @extend .title;
  color:$white;
  margin-top:1em;
  margin-bottom: 0.5em
}

.rating {
  @extend .title;
  font-size: 2.5vw;
}

  .store-name {
    text-decoration: none;
    color:$white;
    text-decoration: underline $primary;
    font-size:1.5em;
    font-weight: bold;
    margin-right: 10px;
  }

iframe :focus {
  outline: none;
}
h2 {
  @extend .saywelcome;
  font-size: 2.5vw;
  margin-bottom: 0.5em;
  margin-top: 0.5em;
}

h3 {
  font-weight: bold;
  color:$white;
}

// Section detail grid
.grid-detail {
  display: grid;
  justify-content: space-between;
  grid-template-columns: repeat(4, 20%);
  grid-template-rows: repeat(auto, 200px);
  grid-gap: 30px;
  margin-top: 50px;
}

.grid-screen {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(2, 48%);
  grid-gap: 20px;
}

.grid-screen img {
  width:100%;
}

#youtube-video {
  display:flex;
  justify-content: space-between;
  
}

#youtube-mini {
  display:flex;
  justify-content: space-between;
}
.mini {
  margin:1em;
}
.first-yt {
  width: 60%;
  margin:2em;
}

.title-ytb-first {
  margin-top:2em;
}

//responsive
@media #{$small} {
    .searchbar {
      width: 40%;
      margin:0 auto;
    }
    .formInput {
      width:70%;
    }
    .loadBtn {
      font-size: 1em;
    }
    .button {
      width:7em;
      font-size: 1em;
      height: 3em;
    }
  }

  @media #{$medium} {
  select {
    width:10em;
  }
}